<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static\css\styles.css">
</head>

<body>
    <h2>menu bar button, double click issues</h2>
    <header>
        <h1>Welcome to Our Homepage</h1>
    </header>

    <main>
        <p>This is the homepage of our website. Please use the menu in the right corner for navigation options.</p>
    </main>

    <!-- Draggable Menu Button -->
    <div class="draggable-menu">
        <div class="menu-button" id="menuButton">☰</div>
        <ul class="menu-list" id="menuList">
            <li><a href="login">Login Page</a></li>
            <li><a href="developer">Developer Team</a></li>
        </ul>
    </div>

    <script src="static\js\script-bad.js"></script>

  


</body>

</html>
