<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using Chroma DB</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Search Engine</h1>
        <div class="row justify-content-center">
            <a href="https://colab.research.google.com/drive/1US7vqczx1VGqkD5i7PnpmxzkIsCs-ReT?usp=sharing#scrollTo=LvEDowpLNPhG" target="_blank" class="btn btn-primary">
                Open Colab Notebook
            </a>
        </div>
    </div>
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- JavaScript to handle search -->
    <!-- <script src="../static/js/using-chromadb.js"></script> -->
</body>

</html>
